<h2>Gráficas de evaluación</h2>
<h3>Campus LEO</h3>
 
<div class="container">
	<div class="row col-md-3">
		<h4 class="text-center">Cultura EBC</h4>
		{{high-charts chartOptions=model.options}}
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Comunicación Interpersonal</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Comunicación Intrapersonal</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Gestión de Clase</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
</div>

<div class="container">
	<div class="row col-md-3">
		<h4 class="text-center">Gestión Tecnológica</h4>
		{{high-charts chartOptions=model.options}}
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Liderazgo</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Orientación al Alumno</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Vinculación Laboral</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
</div>

<h3>Campus CHI</h3>
 
<div class="container">
	<div class="row col-md-3">
		<h4 class="text-center">Cultura EBC</h4>
		{{high-charts chartOptions=model.options}}
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Comunicación Interpersonal</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Comunicación Intrapersonal</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Gestión de Clase</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
</div>

<div class="container">
	<div class="row col-md-3">
		<h4 class="text-center">Gestión Tecnológica</h4>
		{{high-charts chartOptions=model.options}}
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Liderazgo</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Orientación al Alumno</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Vinculación Laboral</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
</div>

<h3>Campus EMP</h3>
 
<div class="container">
	<div class="row col-md-3">
		<h4 class="text-center">Cultura EBC</h4>
		{{high-charts chartOptions=model.options}}
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Comunicación Interpersonal</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Comunicación Intrapersonal</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Gestión de Clase</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
</div>

<div class="container">
	<div class="row col-md-3">
		<h4 class="text-center">Gestión Tecnológica</h4>
		{{high-charts chartOptions=model.options}}
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Liderazgo</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Orientación al Alumno</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Vinculación Laboral</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
</div>

<h3>Campus QRO</h3>
 
<div class="container">
	<div class="row col-md-3">
		<h4 class="text-center">Cultura EBC</h4>
		{{high-charts chartOptions=model.options}}
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Comunicación Interpersonal</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Comunicación Intrapersonal</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Gestión de Clase</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
</div>

<div class="container">
	<div class="row col-md-3">
		<h4 class="text-center">Gestión Tecnológica</h4>
		{{high-charts chartOptions=model.options}}
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Liderazgo</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Orientación al Alumno</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Vinculación Laboral</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
</div>

<h3>Campus TLA</h3>
 
<div class="container">
	<div class="row col-md-3">
		<h4 class="text-center">Cultura EBC</h4>
		{{high-charts chartOptions=model.options}}
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Comunicación Interpersonal</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Comunicación Intrapersonal</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Gestión de Clase</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
</div>

<div class="container">
	<div class="row col-md-3">
		<h4 class="text-center">Gestión Tecnológica</h4>
		{{high-charts chartOptions=model.options}}
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Liderazgo</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Orientación al Alumno</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Vinculación Laboral</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
</div>

<h3>Campus TOL</h3>
 
<div class="container">
	<div class="row col-md-3">
		<h4 class="text-center">Cultura EBC</h4>
		{{high-charts chartOptions=model.options}}
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Comunicación Interpersonal</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Comunicación Intrapersonal</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Gestión de Clase</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
</div>

<div class="container">
	<div class="row col-md-3">
		<h4 class="text-center">Gestión Tecnológica</h4>
		{{high-charts chartOptions=model.options}}
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Liderazgo</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Orientación al Alumno</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Vinculación Laboral</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
</div>

<h3>Campus VIR</h3>
 
<div class="container">
	<div class="row col-md-3">
		<h4 class="text-center">Cultura EBC</h4>
		{{high-charts chartOptions=model.options}}
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Comunicación Interpersonal</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Comunicación Intrapersonal</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Gestión de Clase</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
</div>

<div class="container">
	<div class="row col-md-3">
		<h4 class="text-center">Gestión Tecnológica</h4>
		{{high-charts chartOptions=model.options}}
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Liderazgo</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Orientación al Alumno</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Vinculación Laboral</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
</div>

<h3>Campus SLP</h3>
 
<div class="container">
	<div class="row col-md-3">
		<h4 class="text-center">Cultura EBC</h4>
		{{high-charts chartOptions=model.options}}
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Comunicación Interpersonal</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Comunicación Intrapersonal</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Gestión de Clase</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
</div>

<div class="container">
	<div class="row col-md-3">
		<h4 class="text-center">Gestión Tecnológica</h4>
		{{high-charts chartOptions=model.options}}
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Liderazgo</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Orientación al Alumno</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Vinculación Laboral</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
</div>

<h3>Campus AGS</h3>
 
<div class="container">
	<div class="row col-md-3">
		<h4 class="text-center">Cultura EBC</h4>
		{{high-charts chartOptions=model.options}}
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Comunicación Interpersonal</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Comunicación Intrapersonal</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Gestión de Clase</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
</div>

<div class="container">
	<div class="row col-md-3">
		<h4 class="text-center">Gestión Tecnológica</h4>
		{{high-charts chartOptions=model.options}}
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Liderazgo</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Orientación al Alumno</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Vinculación Laboral</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
</div>

<h3>Campus PCH</h3>
 
<div class="container">
	<div class="row col-md-3">
		<h4 class="text-center">Cultura EBC</h4>
		{{high-charts chartOptions=model.options}}
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Comunicación Interpersonal</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Comunicación Intrapersonal</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Gestión de Clase</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
</div>

<div class="container">
	<div class="row col-md-3">
		<h4 class="text-center">Gestión Tecnológica</h4>
		{{high-charts chartOptions=model.options}}
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Liderazgo</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Orientación al Alumno</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Vinculación Laboral</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
</div>

<h3>Campus MER</h3>
 
<div class="container">
	<div class="row col-md-3">
		<h4 class="text-center">Cultura EBC</h4>
		{{high-charts chartOptions=model.options}}
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Comunicación Interpersonal</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Comunicación Intrapersonal</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Gestión de Clase</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
</div>

<div class="container">
	<div class="row col-md-3">
		<h4 class="text-center">Gestión Tecnológica</h4>
		{{high-charts chartOptions=model.options}}
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Liderazgo</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Orientación al Alumno</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Vinculación Laboral</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
</div>

<h3>Campus CMX</h3>
 
<div class="container">
	<div class="row col-md-3">
		<h4 class="text-center">Cultura EBC</h4>
		{{high-charts chartOptions=model.options}}
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Comunicación Interpersonal</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Comunicación Intrapersonal</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Gestión de Clase</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
</div>

<div class="container">
	<div class="row col-md-3">
		<h4 class="text-center">Gestión Tecnológica</h4>
		{{high-charts chartOptions=model.options}}
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Liderazgo</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Orientación al Alumno</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Vinculación Laboral</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
</div>

<h3>Campus CMX</h3>
 
<div class="container">
	<div class="row col-md-3">
		<h4 class="text-center">Cultura EBC</h4>
		{{high-charts chartOptions=model.options}}
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Comunicación Interpersonal</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Comunicación Intrapersonal</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Gestión de Clase</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
</div>

<div class="container">
	<div class="row col-md-3">
		<h4 class="text-center">Gestión Tecnológica</h4>
		{{high-charts chartOptions=model.options}}
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Liderazgo</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Orientación al Alumno</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
	<div class="row col-md-3">
		<h4 class="text-center">Vinculación Laboral</h4>
		{{high-charts chartOptions=model.options}}	
	</div>
</div>