<h2> Históricos por Evaluación</h2>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Evaluación 2017</h3>
  </div>
  <div class="panel-body">
    <div class="container">
      <div class="row col-md-3">
        <h4 class="text-center">Cultura EBC</h4>
        {{high-charts chartOptions=model.options}}
      </div>
      <div class="row col-md-3">
        <h4 class="text-center">Comunicación Interpersonal</h4>
        {{high-charts chartOptions=model.options}}
      </div>
      <div class="row col-md-3">
        <h4 class="text-center">Comunicación Intrapersonal</h4>
        {{high-charts chartOptions=model.options}}
      </div>
      <div class="row col-md-3">
        <h4 class="text-center">Gestión de Clase</h4>
        {{high-charts chartOptions=model.options}}
      </div>
    </div>

    <div class="container">
      <div class="row col-md-3">
        <h4 class="text-center">Gestión Tecnológica</h4>
        {{high-charts chartOptions=model.options}}
      </div>
      <div class="row col-md-3">
        <h4 class="text-center">Liderazgo</h4>
        {{high-charts chartOptions=model.options}}
      </div>
      <div class="row col-md-3">
        <h4 class="text-center">Orientación al Alumno</h4>
        {{high-charts chartOptions=model.options}}
      </div>
      <div class="row col-md-3">
        <h4 class="text-center">Vinculación Laboral</h4>
        {{high-charts chartOptions=model.options}}
      </div>
    </div>
  </div>
</div>
<br>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Evaluación 2018</h3>
  </div>
  <div class="panel-body">
    <div class="container">
      <div class="row col-md-3">
        <h4 class="text-center">Cultura EBC</h4>
        {{high-charts chartOptions=model.options}}
      </div>
      <div class="row col-md-3">
        <h4 class="text-center">Comunicación Interpersonal</h4>
        {{high-charts chartOptions=model.options}}
      </div>
      <div class="row col-md-3">
        <h4 class="text-center">Comunicación Intrapersonal</h4>
        {{high-charts chartOptions=model.options}}
      </div>
      <div class="row col-md-3">
        <h4 class="text-center">Gestión de Clase</h4>
        {{high-charts chartOptions=model.options}}
      </div>
    </div>

    <div class="container">
      <div class="row col-md-3">
        <h4 class="text-center">Gestión Tecnológica</h4>
        {{high-charts chartOptions=model.options}}
      </div>
      <div class="row col-md-3">
        <h4 class="text-center">Liderazgo</h4>
        {{high-charts chartOptions=model.options}}
      </div>
      <div class="row col-md-3">
        <h4 class="text-center">Orientación al Alumno</h4>
        {{high-charts chartOptions=model.options}}
      </div>
      <div class="row col-md-3">
        <h4 class="text-center">Vinculación Laboral</h4>
        {{high-charts chartOptions=model.options}}
      </div>
    </div>
  </div>
</div>
<br>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Evaluación 2019</h3>
  </div>
  <div class="panel-body">
    <div class="container">
      <div class="row col-md-3">
        <h4 class="text-center">Cultura EBC</h4>
        {{high-charts chartOptions=model.options}}
      </div>
      <div class="row col-md-3">
        <h4 class="text-center">Comunicación Interpersonal</h4>
        {{high-charts chartOptions=model.options}}
      </div>
      <div class="row col-md-3">
        <h4 class="text-center">Comunicación Intrapersonal</h4>
        {{high-charts chartOptions=model.options}}
      </div>
      <div class="row col-md-3">
        <h4 class="text-center">Gestión de Clase</h4>
        {{high-charts chartOptions=model.options}}
      </div>
    </div>

    <div class="container">
      <div class="row col-md-3">
        <h4 class="text-center">Gestión Tecnológica</h4>
        {{high-charts chartOptions=model.options}}
      </div>
      <div class="row col-md-3">
        <h4 class="text-center">Liderazgo</h4>
        {{high-charts chartOptions=model.options}}
      </div>
      <div class="row col-md-3">
        <h4 class="text-center">Orientación al Alumno</h4>
        {{high-charts chartOptions=model.options}}
      </div>
      <div class="row col-md-3">
        <h4 class="text-center">Vinculación Laboral</h4>
        {{high-charts chartOptions=model.options}}
      </div>
    </div>
  </div>
</div>
